[submodule "ProteinMPNN"]
	path = ProteinMPNN
	url = https://github.com/dauparas/ProteinMPNN
[submodule "RFdiffusion"]
	path = RFdiffusion
	url = https://github.com/RosettaCommons/RFdiffusion.git
[submodule "openfold"]
	path = openfold
	url = https://github.com/aqlaboratory/openfold.git
